# Folders
build/
node_modules/
test/
doc/
docs/
undefined/
temp/

# .
.idea
.vscode
.editorconfig
.eslintignore
.lintstagedrc
.prettierignore
.prettierrc
.eslintrc.js
.babelrc
.eslintrc
.npmrc

# *
*.yml
*.suo
*.ntvs*
*.njsproj
*.sln

# Files
yarn.lock
yarn-error.log
package-lock.json
api-extractor.json
commitlint.config.js
rollup.config.js
webpack.config.js
jsdoc.config.json
tsconfig.json
typing.d.ts
