# Output folders
node_modules/
dist/
test/unit/coverage
test/e2e/reports

# Cache folders
.sass-cache/
undefined/
temp/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log*

# Lock files
package-lock.json
